# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
libraries-with-intellij-classes.xml
misc.xml
jarRepositories.xml
discord.xml
modules
